extends template.pug 
block content 
    h1=message
    ul#presence
    p#startGame  Commencer la partie ...
    #gameArea
    img#poupee(src='/img/poupee.jpg' alt='poupee mortelle') 
    script(src='/socket.io/socket.io.min.js')
    script(defer src='/js/index.js')