doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/css/style.css')
  title Squid Game
nav
  ul
    li
      a(href='/accueil') Page d&apos;accueil
    li
      a(href='/jeu') Rendez-vous dans la zone de jeu
    li
      a(href='/register') Inscription des Recrues
    li
      a(href='/highscore') Meilleures Recrues
h1 Squid Game
h2 Qui franchira la ligne en vie ?
block content
block footer 

script(src='/js/index.js')