@font-face {
  font-family: "squid";
  src: url("GameOfSquids-1GMVL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  background-color: antiquewhite;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 3px;
  border: 3px solid forestgreen;
}

nav ul li {
  margin-left: 35px;
  margin-right: 35px;
}

nav,
h1,
h2,
p,
#retourHome {
  font-family: "squid", sans-serif;
}
nav a {
  text-decoration: none;
  color: forestgreen;
}

h1,
h2 {
  text-align: center;
}

#centre {
  height: 60vh;
  width: 100vw;
  background-image: url("/img/pont.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 30px;
}

/* page 404 */
#retourHome {
  
  color: brown;
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 3em;
  font-size: 25px;
}

.soldat {
  display: block;
  margin: auto;
  margin-top: 6em;
}
